@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Hurmit Nerd Font", "JetBrainsMono Nerd Font";
    font-size: 1.1rem;
    min-height: 0;
}

window#waybar {
    background: @background;
    border-bottom: 3px solid @outline_variant;
    color: @on_surface;
}

tooltip {
    background: @background;
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: @on_surface;
}

#window {
    background: @on_primary;
    padding: 5px 15px;
    margin: 10px 7px;
    color: @primary;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @secondary;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727d;
    border-bottom: 3px solid white;
}

#workspaces button.active {
    background: @on_secondary;
    border-bottom: 3px solid @outline_variant;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#tray {
    padding: 5px 10px;
    margin: 10px 7px;
    background-color: @on_primary;
    color: @primary;
}

#custom-notification {
    padding: 0px 15px 0px 5px;
}

#custom-notification:hover {
    background-color: @on_secondary;
}

#custom-distro {
    padding: 5px 15px;
}

#custom-left_div.1 {
    color: @tertiary;
}
